@model KaraokePayment.Data.Entity.BookPhongOrderPhong

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <!-- ds phòng -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-11">
                                    <h3 class="card-title" style="font-size:20px">Them moi BookPhongOrderPhong</h3>
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">

                            <h1>Details</h1>

                            <div>
                                <h4>BookPhongOrderPhong</h4>
                                <hr />
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.NhanVienBook1Id)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.NhanVienBook1Id)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.NhanVienBook2Id)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.NhanVienBook2Id)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.ThoiGianBatDau)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.ThoiGianBatDau)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.ThoiGianKetThuc)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.ThoiGianKetThuc)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.PhuongThucTT)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.PhuongThucTT)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.TrangThai)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.TrangThai)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.NgayTao)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.NgayTao)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.NgaySua)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.NgaySua)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.TongTien)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.TongTien)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.BookPhongOrder)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.BookPhongOrder.Id)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.Phong)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.Phong.Id)
                                    </dd>
                                </dl>
                            </div>
                            <div>
                                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                                <a asp-action="Index">Back to List</a>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
