@model IEnumerable<KaraokePayment.Data.Entity.CaLV>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenCa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Den)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HeSoLuong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenCa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Den)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeSoLuong)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
