@model System.Collections.Generic.List<KaraokePayment.Data.Entity.Phong>
@using KaraokePayment.Helpers
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Danh Sách Phòng Chưa Thanh Toán</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Tên Phòng
                                        </th>
                                        <th>
                                            Cỡ Phòng
                                        </th>
                                        <th>
                                            Vip
                                        </th>
                                        <th>
                                            Giá
                                        </th>
                                        <th>
                                            Trạng Thái
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TenPhong)
                                            </td>
                                            <td>
                                                @item.CoPhong.FirstCharToUpper()
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsVIP)
                                            </td>
                                            <td>
                                                @PaymentHelper.ConvertCurrency(item.Gia)                                                
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TrangThai)
                                            </td>
                                            <td>
                                                <a class="btn btn-primary btn-sm" asp-action="ThemPhongThanhToan" asp-controller="ThanhToanKaraoke" asp-route-phongId="@item.Id">
                                                    <i class="fas fa-folder">
                                                    </i>
                                                    Thêm
                                                </a>                                                
                                            </td>
                                        </tr>
                                    }                                   
                                </tbody>                               
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>