@model KaraokePayment.Data.Entity.NhanVienCaLV

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <!-- ds phòng -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-11">
                                    <h3 class="card-title" style="font-size:20px">Chi tiet CaLV</h3>
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">


                            <div>
                                <h4>NhanVienCaLV</h4>
                                <hr />
                                <dl class="row">
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.NgayLV)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.NgayLV)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.NhanVien)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.NhanVien.Id)
                                    </dd>
                                    <dt class="col-sm-2">
                                        @Html.DisplayNameFor(model => model.CaLv)
                                    </dt>
                                    <dd class="col-sm-10">
                                        @Html.DisplayFor(model => model.CaLv.Id)
                                    </dd>
                                </dl>

                                <form asp-action="Delete">
                                    <input type="hidden" asp-for="Id" />
                                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                                    <a asp-action="Index">Back to List</a>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
