@model IEnumerable<KaraokePayment.Data.Entity.HangHoa>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Danh Sách Phòng Chưa Thanh Toan</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.MaHH)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model=>model.HangHoaImage)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Ten)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SoLuong)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Gia)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.NgayNhap)
                                        </th>                                        
                                        <th>So luong them</th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        var url = $"{item.Ten}/{item.HangHoaImage}";
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MaHH)
                                            </td>
                                            <td>
                                                <div class="images">
                                                    @if (string.IsNullOrEmpty(item.HangHoaImage))
                                                    {
                                                        <img src="~/Karaoke-assest/Images/ProductDefaultImage.png" />

                                                    }
                                                    else
                                                    {
                                                        <img src="~/Karaoke-assest/Images/HangHoas/@url" />
                                                    }
                                                </div>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Ten)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SoLuong)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Gia)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.NgayNhap)
                                            </td>                                            
                                            <td>
                                                @using (Html.BeginForm("ThemHangHoaPhong", "ThanhToanKaraoke", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="bookPhongOrderPhongId" value="@ViewBag.BookPhongOrderPhongId" />
                                                    <input type="hidden" name="hangHoaId" value="@item.Id" />
                                                    <input type="number" name="soLuong" />
                                                    <button class="btn btn-primary btn-sm">
                                                        <i class="fas fa-folder">
                                                        </i>
                                                        Thêm hàng
                                                    </button>
                                                }
                                            </td>
                                        </tr>
                                    }                                  
                                </tbody>                                
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div><!-- /.container-fluid -->
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>